# --------------------------------------------------
# Web
# --------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# Queue
BULLMQ_SCAN_QUEUE=scan-jobs

# Worker
WORKER_CONCURRENCY=2
PLAYWRIGHT_HEADLESS=true
SCAN_TIMEOUT_MS=45000
