# dependencies
node_modules

# pnpm
.pnpm-store

# next
.next
out

# build
dist
coverage

# env
.env
.env.local
.env.*.local

# logs
*.log

# OS
.DS_Store

# playwright
playwright-report
test-results

# misc
tmp
.vercel

# redis
dump.rdb
